<a href="https://colab.research.google.com/github/Darkdew/ANNhpTuningGridSearchCV/blob/master/ANNHPTuningGridSearchCV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from keras.models import Sequential
from keras.layers import Dense, Activation, Embedding, Flatten, LeakyReLU, BatchNormalization, Dropout

from keras.activations import relu, sigmoid
from sklearn.preprocessing import StandardScaler

In [0]:
df= pd.read_csv('/content/drive/My Drive/Colab Notebooks/Churn_Modelling_kaggledataset/Churn_Modelling.csv')

In [29]:
df.isnull().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [30]:
df.isnull().values.any()

False

In [31]:
df.shape

(10000, 14)

In [32]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
X= df.iloc[:, 3:13]
y= df.iloc[:, 13]

In [0]:
#Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [0]:
#create dummyvariables for categorical features
geography = pd.get_dummies(X['Geography'], drop_first=True)
gender= pd.get_dummies(X['Gender'], drop_first= True)

#concatenate the dummy variable columsn to X

X = pd.concat([X, geography, gender], axis=1)

#drop the categorical original columns
X = X.drop(['Geography', 'Gender'], axis=1)

In [0]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
SS_obj= StandardScaler()

X= SS_obj.fit_transform(X)

In [0]:
#train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=42)

In [0]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

In [0]:
def created_model(layers, activation):
  model= Sequential()
  i=0
  for i, nodes in enumerate(layers):
    if i==0:
      model.add(Dense(nodes, input_dim= X_train.shape[1]))
      model.add(Activation(activation))
    else:
      model.add(Dense(nodes))
      model.add(Activation(activation))
  
  model.add(Dense(1)) #output layer

  model.compile(optimizer='adam', loss= 'binary_crossentropy', metrics= ['accuracy'])

  return model

model= KerasClassifier(build_fn=created_model) #KerasClassifier initialized

In [46]:
model

In [0]:
layers= [[20], [40,20], [60,45,20], [45,30,15]]
activations= ['sigmoid', 'relu']
param_grid= dict( layer= layers, activation= activations, batch_size= [128,256], epochs= [30])

gridsearch= GridSearchCV(estimator= model, param_grid= param_grid, cv=10)

In [0]:
grid_result= gridsearch.fit(X_train, y_train) # throwing error here
#layer is not a legal parameter#resolve it as your homework
#then execute the below snippets

In [0]:
[grid_result.best_score, grid_result.best_params_]

In [0]:
pred_y= grid.predict(X_test)
y_finalpred= (pred_y>0.5)

In [0]:
y_finalpred

In [0]:
from sklearn.metrics import confusion_matrix, accuracy_score

cm= confusion_matrix(y_test, y_finalpred)
cm

In [0]:
score= accuracy_score(y_test, y_pred)
score